body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #071c4d;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #071c4d;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #071c4d !important;
}

.navbar-light .navbar-nav a {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    font-family: 'Saira Condensed', sans-serif;
    background-color: #071c4d;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.btn-login:hover {
    background-color: #1e3771;
    color: #ffffff;
}

.section-stats {
    margin-top: -40PX;
    text-align: center;
}

.section-stats .stats-detail {
    padding: 15px 20px;
    background-color: #ffffff;
}

.section-stats h2,
.section-stats p {
    color: #071c4d;
}

.section-stats h2 {
    font-size: 22px;
    margin-bottom: 0;
}

.section-stats p {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 0;
}

.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -65px;
    margin-bottom: -180px;
}

.section-popular .section-popular-heading {
    margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
    color: #ffffff;
}

.section-popular .section-popular-heading h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
}

.section-popular .section-popular-heading p {
    font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
    min-height: 380px;
    min-width: 260px;
    background-color: #dddddd;
    color: #ffffff;
    padding: 30px;
    background-size: cover;
    margin-bottom: 30px;
}

.section-popular-content .section-popular-travel .travel-country {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
    background-color: #ff9e53;
    color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
    background-color: #ffae6f;
    color: #ffffff;
}

.section-testimonial-heading {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 440px;
}

.section-testimonial-heading h2 {
    font-family: "Saira Condensed", sans-serif;
    font-size: 40px;
}

.section-testimonial-heading p {
    font-size: 18px;
}

.section-testimonial-content {
    margin-top: -250px;
    padding-top: 50px;
}

.section-testimonial-content .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
    min-height: 320px;
}

.section-testimonial-content .card-testimonial .testimonial-content h3 {
    font-size: 20px;
    font-weight: bold;
}

.section-testimonial-content .card-testimonial .testimonial-content .testimonial {
    font-weight: 200;
    font-size: 18px;
    color: #6e6e6e;
    min-height: 120px;
    max-height: 160px;
}

.section-testimonial-content .card-testimonial hr {
    margin-left: -20px;
    margin-right: -20px;
}

.section-testimonial-content .card-testimonial .trip-to {
    font-weight: normal;
    font-size: 20px;
    color: #6e6e6e;
}

.section-testimonial-content .btn-need-help {
    background-color: #f2f2f2;
    color: #c3c3c3;
}

.section-testimonial-content .btn-need-help:hover {
    background-color: #ffffff;
    color: #c3c3c3;
}

.section-testimonial-content .btn-get-started {
    background-color: #ff9e53;
    color: #fff;
}

.section-testimonial-content .btn-get-started:hover {
    background-color: #ffae6f;
    color: #ffffff;
}

.section-success {
    height: 100%;
}

.section-success h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #071c4d;
}

.section-success h2 {
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #071c4d;
}

.section-success p {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.section-success .btn-home-page {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    border-radius: 4px;
    background-color: #304577;
    color: #ffffff;
}

.section-success .btn-home-page:hover {
    background-color: #435e9e;
    color: #ffffff;
}

.section-footer {
    background-color: #051334;
}

.section-footer h5 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    color: #fff;
}

.section-footer a,
.section-footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}

.section-footer .img-footer {
    margin-top: 70px;
    max-height: 100px;
}

.page-heading {
    padding: 100px 0;
    background-size: cover;
    border-bottom: none;
    text-align: center;
    background-repeat: no-repeat;
    /* background-image: url(../images/category-bg.jpg); */
	background-color: #1e52cc;
    background-position: bottom;
}

.page-heading .page-title h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
}

.main-container {
    min-height: 400px;
    padding: 0px;
    margin-top: 50px;
}

.pro-coloumn {
    padding: 0px;
    position: relative;
    margin-top: 0px;
    padding-bottom: 30px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #d5d5d5 #eee;
    -webkit-box-shadow: 0 5px 0 rgba(200, 200, 200, 0.2);
    box-shadow: 0 5px 0 rgba(200, 200, 200, 0.2);
    margin-bottom: 40px;
}

.category-products {
    overflow: hidden;
    padding: 25px 13px 0px 13px;
}

.category-products .products-list {
    padding: 0;
}

.category-products .products-list .product-name {
    text-align: left;
    margin: 0px 0 10px;
    font-size: 22px;
    color: #121212;
    font-weight: 500;
    text-align: left;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 0.5px;
}

.category-products .products-list .item {
    padding: 20px 0;
    overflow: hidden;
    margin: 0px !important;
    border-bottom: 1px #ececec solid;
    padding-bottom: 25px;
}

.category-products .products-list .product-left {
    float: left;
    width: 100%;
    margin-right: 25px;
    margin-bottom: 20px;
}

.category-products .products-list .product-left .product-image img {
    width: 100%;
}

.category-products .products-list .product-left .btn-go {
    font-family: 'Saira Condensed', sans-serif;
}

.category-products .products-list .product-left .btn-go .btn-success {
    margin-top: 15px;
    width: 100%;
}

.category-products .products-list .product-left .btn-go .btn-warning {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.category-products .products-list .product-shop {
    float: right;
    width: 100%;
    text-align: left;
}

.category-products .products-list .product-shop a:hover {
    text-decoration: none;
}

.category-products .products-list .product-shop .price-box {
    margin: 10px 0;
}

.category-products .products-list .product-shop .price-box .regular-price {
    display: inline;
}

.category-products .products-list .product-shop .price-box .regular-price .price {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #121212;
}

.category-products .products-list .product-shop p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    line-height: 1.5em;
}

.category-products .products-list .product-shop .spec-row .label-spec {
    color: #333;
    position: relative;
    width: 50%;
    float: left;
}

.category-products .products-list .product-shop .spec-row .label-spec .coln {
    position: absolute;
    right: 10px;
    font-weight: 300;
    top: 0;
    color: #999;
}

.category-products .products-list .product-shop .spec-row .value-spec {
    color: #000;
    padding-right: 19px;
    width: 50%;
    float: left;
}

.category-products .products-list .product-shop #summarySpecs {
    margin-top: 20px;
    border: 1px #eaeaea solid;
    margin-bottom: 20px;
}

.category-products .products-list .product-shop #summarySpecs table tbody tr {
    width: 50%;
    float: left;
    font-size: 14px;
    padding: 7px 12px;
}

.category-products .products-list .product-shop .shipping-pro ul {
    padding: 0px 0 0 20px;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.category-products .products-list .product-shop .shipping-pro ul li {
    padding: 3px 0px;
}

.category-products .products-list .product-shop .btn-go {
    font-family: 'Saira Condensed', sans-serif;
}

.category-products .products-list .product-shop .btn-go .btn-success {
    margin-top: 15px;
    width: 100%;
}

.category-products .products-list .product-shop .btn-go .btn-warning {
    margin-top: 15px;
    width: 100%;
}

.category-products .checkout-list .product-name {
    text-align: left;
    margin: 0px 0 10px;
    font-size: 32px;
    color: #121212;
    font-weight: 500;
    text-align: left;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 0.5px;
}

.category-products .checkout-list .item {
    padding: 20px 0;
    overflow: hidden;
    margin: 0px !important;
    border-bottom: 1px #ececec solid;
    padding-bottom: 25px;
}

.category-products .checkout-list .product-image {
    float: left;
    width: 28%;
}

.category-products .checkout-list .product-image img {
    width: 100%;
}

.category-products .checkout-list .product-shop {
    float: right;
    width: 68%;
    text-align: left;
    margin-left: 25px;
}

.category-products .checkout-list .product-shop .price-box {
    margin: 10px 0;
}

.category-products .checkout-list .product-shop .price-box .regular-price {
    display: inline;
}

.category-products .checkout-list .product-shop .price-box .regular-price .price {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #121212;
}

.category-products .checkout-list .product-shop p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    line-height: 1.5em;
}

.category-products .checkout-list .product-shop .spec-row .label-spec {
    color: #333;
    position: relative;
    width: 50%;
    float: left;
}

.category-products .checkout-list .product-shop .spec-row .label-spec .coln {
    position: absolute;
    right: 10px;
    font-weight: 300;
    top: 0;
    color: #999;
}

.category-products .checkout-list .product-shop .spec-row .value-spec {
    color: #000;
    padding-right: 19px;
    width: 50%;
    float: left;
}

.category-products .checkout-list .product-shop #summarySpecs {
    margin-top: 20px;
    border: 1px #eaeaea solid;
    margin-bottom: 20px;
}

.category-products .checkout-list .product-shop #summarySpecs table tbody tr {
    width: 50%;
    float: left;
    font-size: 14px;
    padding: 7px 12px;
}

.category-products .checkout-list .product-shop .shipping-pro ul {
    padding: 0px 0 0 20px;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.category-products .checkout-list .product-shop .shipping-pro ul li {
    padding: 3px 0px;
}

.category-products .checkout-list .pay-method td {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}

.category-products .checkout-list .pay-method td img {
    max-width: 90px;
    margin-right: 10px;
}

.category-products .checkout-list .personal-info td {
    padding: 7px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.category-products .checkout-list .btn-go {
    margin-top: 14px;
}

.category-products .checkout-list .btn-go .btn-success {
    font-size: 18px;
    width: 1035px;
    font-family: 'Saira Condensed', sans-serif;
}

.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    z-index: 101;
}

.popup h2 {
    color: #1f1e1e;
    font-family: "Saira Condensed", sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

.popup .ask-question-block {
    left: 50%;
    margin: auto;
    min-height: 150px;
    position: fixed;
    top: 20%;
    width: 300px;
    z-index: 10000;
    margin-left: -150px;
    background: #fff;
}

.popup .ask-question-block .form-inner {
    width: auto;
    background: #fff;
    padding: 0px 25px 18px 25px;
    position: relative;
}

.popup .ask-question-block .form-inner .form-block {
    margin-bottom: 10px;
}

.popup .ask-question-block .form-inner .form-block label {
    font-size: 13px;
    color: #888;
    display: block;
    font-weight: normal;
}

.popup .ask-question-block .form-inner .form-block input {
    display: block;
    margin-right: 0px;
    padding: 5px 10px;
    width: 250px;
    border: 1px solid #ddd;
    text-align: left;
}

.popup .ask-question-block .form-inner .form-block .button {
    width: 250px;
    height: 40px;
    font-family: "Saira Condensed", sans-serif;
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 5px;
    background-color: #3f7088;
    color: #fff;
}

.popup .ask-question-block .x {
    position: absolute;
    right: -15px;
    top: -90px;
    z-index: 10000;
}

.popup .ask-question-block h3 {
    color: #121212;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 15px 25px 15px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #d3cee5;
    margin-top: 0px;
    min-width: 300px;
    margin-bottom: 10px;
}

.order-row .tbody-order {
    font-size: 20px;
    color: #121212;
    font-weight: 500;
    font-family: 'Saira Condensed', sans-serif;
}

.order-row .tbody-order .order-no {
    text-align: center;
    vertical-align: middle;
}

.order-row .tbody-order .order-image {
    float: left;
    width: 28%;
}

.order-row .tbody-order .order-image img {
    max-width: 250px;
}

.order-row .tbody-order .order-name .table-order td {
    padding: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.order-row .tbody-order .order-status {
    text-align: center;
    vertical-align: middle;
}

.check-list {
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.check-list .form-data {
    padding-bottom: 10px;
}

.check-list .form-data .checkbox-list {
    width: 17px;
    height: 17px;
}

.check-list .btn-check {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 16px;
}

.check-list .btn-check .btn-btn{
    margin-top: 10px;
    width: 100%;
}


/*# sourceMappingURL=main.css.map */
